<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom dark-nav">
    <div class="container-fluid">
        <ul class="navbar-nav justify-content-between w-100 flex-row">
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard">
                    <span class="nav-icon">
                        <i class="fas fa-home"></i>
                    </span>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/transactions/report">
                    <span class="nav-icon">
                        <i class="fa fa-pie-chart"></i>
                    </span>
                    Report
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/profile">
                    <span class="nav-icon">
                        <i class="fas fa-user-alt"></i>
                    </span>
                    Profile
                </a>
            </li>
        </ul>
    </div>
</nav>