<div class="padded"></div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom dark-nav">
    <div class="container-fluid">
        <ul class="navbar-nav justify-content-between w-100 flex-row">
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard"
                    [ngClass]="{'active': currentPage && currentPage === 'home'}">
                    <span class="nav-icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="d-none d-sm-block small">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/report"
                    [ngClass]="{'active': currentPage && currentPage === 'report'}">
                    <span class="nav-icon">
                        <i class="fa fa-pie-chart"></i>
                    </span>
                    <span class="d-none d-sm-block small">Report</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/settings"
                    [ngClass]="{'active': currentPage && currentPage === 'settings'}">
                    <span class="nav-icon">
                        <i class="fas fa-cog"></i>
                    </span>
                    <span class="d-none d-sm-block small">Settings</span>
                </a>
            </li>
        </ul>
    </div>
</nav>