# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


backend/flask_web_app/__pycache__/
backend/flask_web_app/*/__pycache__/
backend/flask_web_app/*/*/__pycache__/
backend/flask_web_app/*/*/*/__pycache__/
backend/flask_web_app/Dockerfile
backend/flask_web_app/env
backend/flask_web_app/.coverage
.pytest_cache/
backend/flask_web_app/.pytest_cache
backend/flask_web_app/.env
backend/flask_web_app/api/v0/media/
backend/api/v0/media/
backend/flask_web_app/api/v0/static/media/
