<app-main-navbar></app-main-navbar>

<div data-bs-spy="scroll" data-bs-target="#app-navbar" data-bs-offset="0" tabindex="0">
    <!-- Header Section -->
    <header class="wrapper" id="home">
        <div class="hero-text">
            <h1>
                Expense tracking made easy, effortless and seamless.
            </h1>
            <p>
                Expense tracker app that gives you the insight on your cash in & out flows. A tool that helps you save
                smartly.
            </p>

            <div>
                <a routerLink="/signup" class="btn btn-full">
                    Get started
                </a>

                <a routerLink="/demo" class="btn btn-outline">
                    Try demo
                </a>
            </div>
        </div>

        <div class="img-wrapper">
            <img src="assets/imgs/app_anime.gif" alt="Budgetam Dashboard" loading="lazy" draggable="false">
        </div>
    </header>
    <!-- Header Section -->

    <!-- Features Section -->
    <section class="wrapper dashboard-section" id="dashboard">
        <div class="img-wrapper">
            <img src="assets/imgs/app_dashboard.png" alt="Budgetam Dashboard" loading="lazy" draggable="false">
        </div>

        <div class="hero-text">
            <h2>User friendly</h2>
            <p>
                Budgetam was built with the users in mind, we ensured that our app gives the user an intuitive
                experience. View your balance by a single tap on the switch and all transactions are categorized for
                easy tracking.
            </p>
        </div>
    </section>
    <!-- Features Section -->

    <!-- Report Section -->
    <section class="wrapper report-section" id="report">
        <div class="hero-text">
            <h2>Data visualization</h2>
            <p>
                We know how important it is for our users to have an insight into their the cash in & out flow, so we
                provided a report generating feature that gives them the power to see their transaction history
                effortlessly.
            </p>
        </div>

        <figure class="img-wrapper">
            <img src="assets/imgs/app_report.png" alt="Budgetam Dashboard" loading="lazy" draggable="false">
        </figure>
    </section>
    <!-- Report Section -->

    <!-- About Section -->
    <section class="wrapper about-section" id="about">
        <div>
            <div class="heading">
                <h2>About</h2>
            </div>
            <p>
                This app was built to enable people who find it difficult to manage their income and expenses
                efficiently. We started by considering the question "What is the best way to keep track of
                transactions?". In other to solve this problem we created Budgetam, an app that will enable the user to
                track cash in & out flow with ease.
            </p>
        </div>
    </section>
    <!-- About Section -->

    <!-- Team Section -->
    <section class="wrapper team-section" id="team">
        <div class="heading">
            <h2>Our Team</h2>
            <p>
                Meet our team of engineers that used their creativity to present to you Budgetam
            </p>
        </div>

        <div class="team-wrapper">
            <div class="team-card">
                <div class="team-avatar">
                    <img src="assets/imgs/team/jude-iwuji-software-engineer.jpg" alt="Jude Iwuji Software Engineer">
                </div>
                <h3>Jude Iwuji</h3>
                <h4>Software Engineer</h4>
                <p>Frontend Developer</p>

                <div class="social">
                    <a href="https://github.com/judeiwuji" target="_blank">
                        <img src="assets/imgs/github.svg" alt="Jude Iwuji on Github">
                    </a>
                    <a href="https://www.linkedin.com/in/jude-iwuji-7218b0194" target="_blank">
                        <img src="assets/imgs/linkedin.svg" alt="Jude Iwuji on LinkedIn">
                    </a>
                    <a href="https://twitter.com/_judeiwuji_" target="_blank">
                        <img src="assets/imgs/twitter.svg" alt="Jude Iwuji on Twitter">
                    </a>
                </div>
            </div>

            <div class="team-card">
                <div class="team-avatar">
                    <img src="assets/imgs/team/ifiok-ekott-software-engineer.jpg" alt="Ifiok Ekott Software Engineer">
                </div>
                <h3>Ifiok Ekott</h3>
                <h4>Software Engineer</h4>
                <p>Backend Developer</p>

                <div class="social">
                    <a href="https://github.com/ekottifiok" target="_blank">
                        <img src="assets/imgs/github.svg" alt="Ifiok Ekott on Github">
                    </a>
                    <a href="" target="_blank">
                        <img src="assets/imgs/linkedin.svg" alt="Ifiok Ekott on LinkedIn">
                    </a>
                    <a href="">
                        <img src="assets/imgs/twitter.svg" alt="Ifiok Ekott on Twitter">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section -->
</div>

<app-main-footer></app-main-footer>