<div class="modal-header">
    <!-- Mobile -->
    <button class="btn d-md-none" (click)="close()">
        <i class="fas fa-chevron-left"></i>
    </button>
    <!-- Mobile -->

    <!-- Title -->
    <h5 class="mx-auto">Edit Profile</h5>
    <!-- Title -->

    <!-- Desktop -->
    <button class="btn d-none d-md-inline-block" (click)="close()">
        <i class="fas fa-times"></i>
    </button>
    <!-- Desktop -->
</div>

<div class="modal-body">
    <div>
        <!-- Avatar -->
        <div class="text-center mb-3 ">
            <div class="profile-avatar-wrapper">
                <span class="profile-avatar">
                    <ng-container *ngIf="avatarPreview">
                        <img [src]="avatarPreview">
                    </ng-container>

                    <ng-container *ngIf="!avatarPreview">
                        <img [src]="user.avatar? user.avatar : '/assets/imgs/avatar.svg'" alt="avatar">
                    </ng-container>
                </span>
                <span class="static-align-bottom-right">
                    <label for="user-avatar" class="btn-circle">
                        <i class="fas fa-camera"></i>
                    </label>
                    <input type="file" class="d-none" id="user-avatar" accept="image/*" (change)="changeAvatar($event)"
                        [disabled]="uploading">
                </span>
            </div>

            <div class="my-3" *ngIf="imageFile">
                <button class="btn btn-sm btn-full me-2" (click)="uploadAvatar()" [disabled]="uploading">
                    Change Avatar
                    <ng-container *ngIf="uploading">
                        <i class="fas fa-spinner fa-spin"></i>
                    </ng-container>
                </button>

                <button class="btn btn-sm btn-light btn-rounded" (click)=" cancel()">
                    Cancel
                </button>
            </div>
        </div>

        <!-- Avatar -->

        <div class="mb-3">
            <label for="username" class="small text-muted">
                Username
            </label>
            <input type="text" placeholder="Username" class="form-control" [(ngModel)]="username">
        </div>

        <div class="mb-3">
            <label for="email" class="small text-muted">
                Email
            </label>
            <input type="email" placeholder="Email" class="form-control" [value]="user.email" readonly>
        </div>

        <div class="mt-3">
            <button class="btn btn-full w-100" (click)="save()" [disabled]="saving">
                Save
                <ng-container *ngIf="saving">
                    <i class="fas fa-spinner fa-spin"></i>
                </ng-container>
            </button>
        </div>
    </div>
</div>