<div class="modal-header">
    <!-- Mobile -->
    <button class="btn d-md-none" (click)="close()">
        <i class="fas fa-chevron-left"></i>
    </button>
    <!-- Mobile -->

    <!-- Title -->
    <h5 class="mx-auto">Change account password</h5>
    <!-- Title -->

    <!-- Desktop -->
    <button class="btn d-none d-md-inline-block" (click)="close()">
        <i class="fas fa-times"></i>
    </button>
    <!-- Desktop -->
</div>

<div class="modal-body">
    <form [formGroup]="passwordForm" (ngSubmit)="confirm()">
        <div class="mb-4">
            <label for="password">Old Password</label>
            <input type="password" class="form-control" placeholder="Old Password" formControlName="oldPassword">
            <ng-container *ngIf="fc['oldPassword'].touched && fc['oldPassword'].errors">
                <div class="small error">
                    Please enter your old password
                </div>
            </ng-container>
        </div>
        <div class="mb-4">
            <label for="password">New Password</label>
            <input type="password" class="form-control" placeholder="New Password" formControlName="password">
            <ng-container *ngIf="fc['password'].touched && fc['password'].errors">
                <div class="small error">
                    Please enter a new password
                </div>
            </ng-container>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-full w-100" [disabled]="processing">
                Confirm
                <ng-container *ngIf="processing">
                    <i class="fas fa-spinner fa-spin"></i>
                </ng-container>
            </button>
        </div>
    </form>
</div>