<div class="wrapper">
    <div class="text-content">
        <h1 class="title">Try Budgetam</h1>

        <p class="text-muted">
            We are happy that you want to try out our app. All your data will be stored in your browser. once you are
            done remember to sign out.
        </p>

        <button class="btn btn-full" (click)="tryDemo()" [disabled]="processing">
            Try now
            <ng-container *ngIf="processing">
                <i class="fas fa-spinner fa-spin"></i>
            </ng-container>
        </button>
    </div>
</div>