<div class="modal-header">
    <!-- Mobile -->
    <button class="btn d-md-none" (click)="close()">
        <i class="fas fa-chevron-left"></i>
    </button>
    <!-- Mobile -->

    <!-- Title -->
    <h5 class="mx-auto">Edit Profile</h5>
    <!-- Title -->

    <!-- Desktop -->
    <button class="btn d-none d-md-inline-block" (click)="close()">
        <i class="fas fa-times"></i>
    </button>
    <!-- Desktop -->
</div>

<div class="modal-body">
    <div>
        <!-- Avatar -->
        <div class="text-center mb-3">
            <span class="profile-avatar">
                <span class="static-align-bottom-right">
                    <button class="btn-circle">
                        <i class="fas fa-camera"></i>
                    </button>
                </span>
            </span>
        </div>
        <!-- Avatar -->

        <div class="mb-3">
            <label for="username" class="small text-muted">
                Username
            </label>
            <input type="text" placeholder="Username" class="form-control">
        </div>

        <div class="mb-3">
            <label for="email" class="small text-muted">
                Email
            </label>
            <input type="email" placeholder="Email" class="form-control" readonly>
        </div>

        <div class="mt-3">
            <button class="btn btn-full w-100">
                Save
            </button>
        </div>
    </div>
</div>