.amount-container {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  position: relative;
}

.amount-container::after {
  content: "";
  display: block;
  width: 3.5em;
  height: 2px;
  background-color: #eeeeee;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.amount-container label {
  font-size: 1rem;
}

.amount-container input {
  border: 0;
  outline: 0;
  background-color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  width: 10rem;
  max-width: 10rem;
  text-align: center;
}

.category-btn {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.transaction-form-group {
  margin-bottom: 2em;
}

.transaction-date-picker {
  visibility: hidden;
  width: 0;
  height: 0;
  padding: 0;
}

.transaction-date-picker-btn {
  display: block;
  width: 100%;
  text-align: left !important;
}
