<div class="modal-header">
    <!-- Mobile -->
    <button class="btn d-md-none" (click)="close()">
        <i class="fas fa-chevron-left"></i>
    </button>
    <!-- Mobile -->

    <ng-container *ngIf="category">
        <!-- Title -->
        <h5 class="mx-auto text-capitalize">{{category.name}}</h5>
        <!-- Title -->
    </ng-container>

    <!-- Desktop -->
    <button class="btn d-none d-md-inline-block" (click)="close()">
        <i class="fas fa-times"></i>
    </button>
    <!-- Desktop -->
</div>

<div class="modal-body">
    <ng-container *ngFor="let transaction of transactions">
        <div class="mb-3">
            <app-transaction [transaction]="transaction"></app-transaction>
        </div>
    </ng-container>
</div>