<div class="container py-3">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
            <!-- Avatar -->
            <div class="text-center mb-3">
                <span class="profile-avatar">
                    <span class="static-align-bottom-right">
                        <button class="btn-circle">
                            <i class="fas fa-camera"></i>
                        </button>
                    </span>
                </span>
            </div>
            <!-- Avatar -->

            <div class="mb-3">
                <label for="username" class="small text-muted">
                    Username
                </label>
                <input type="text" placeholder="Username" class="form-control">
            </div>

            <div class="mb-3">
                <label for="email" class="small text-muted">
                    Email
                </label>
                <input type="email" placeholder="Email" class="form-control" readonly>
            </div>

            <div class="mb-3">
                <button class="btn btn-full w-100">
                    Save
                </button>
            </div>
            <div class="mb-3">
                <button class="btn btn-light w-100">
                    Change Password
                </button>
            </div>
        </div>
    </div>
</div>
<app-auth-navbar [currentPage]="'profile'"></app-auth-navbar>