<div class="container-fluid py-2">
    <div class="d-flex justify-content-between">
        <h1 class="username-text">hi {{user.username}}</h1>

        <div>
            <button type="button" aria-roledescription="Create new transaction" class="btn btn-full">
                <span class="d-none d-md-inline-block">Create Transaction</span>
                <i class="fas fa-plus d-md-none"></i>
            </button>
        </div>
    </div>

    <!-- Balance -->
    <div class="balance-container">
        <div class="d-flex justify-content-between">
            <ng-container>
                <h4 class="balance-title">Expenses</h4>
            </ng-container>

            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="text-center py-4">
            <h4 class="balance-currency text-muted">{{currency}}</h4>
            <p class="balance-amount">{{balance.expenses | number}}</p>
        </div>
    </div>
    <!-- Balance -->

    <!-- Transaction summary -->
    <div class="transaction-summary">
        <div class="d-flex justify-content-between align-items-center">
            <h4>Transactions</h4>

            <a href="">see all</a>
        </div>
    </div>
    <!-- Transaction summary -->
</div>

<app-auth-navbar></app-auth-navbar>