<app-main-navbar></app-main-navbar>

<div data-bs-spy="scroll" data-bs-target="#app-navbar" data-bs-offset="0" tabindex="0">
    <!-- Header -->
    <header id="home">
        <div class="hero-textbox">
            <h1>
                Smart move requires a smart app. Use our smart app to track your transaction flow.
            </h1>
            <button class="btn btn-full" (click)="tryDemo()">
                Try Demo
            </button>
        </div>

        <div>
            <img src="/assets/imgs/expense_tracker.svg" alt="person tracking their expenses" draggable="false">
        </div>
    </header>
    <!-- Header -->

    <!-- Features -->
    <div class="section-features" id="features">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="feature-content">
                        <div class="feature-icon">
                            <i class="fa fa-shield"></i>
                        </div>
                        <h2 class="feature-header">
                            Secured
                        </h2>
                        <p class="feature-body">
                            Your transaction data won’t be sold to any third party and they are 100% secured.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="feature-content">
                        <div class="feature-icon">
                            <i class="fas fa-puzzle-piece"></i>
                        </div>
                        <h2 class="feature-header">
                            User Friendly
                        </h2>
                        <p class="feature-body">
                            Budgetam is user friendly and it provides straight-forward features that the user can find
                            easy
                            to interact with.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="feature-content">
                        <div class="feature-icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <h2 class="feature-header">
                            Portable
                        </h2>
                        <p class="feature-body">
                            Use our app from anywhere at anytime either with your <strong>phone</strong>,
                            <strong>tablet</strong>, <strong>laptop</strong> or
                            <strong>desktop</strong>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features -->

    <!-- Teams -->
    <div class="section-teams" id="our-team">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 mb-sm-0 mx-auto">
                    <div class="card team-card">
                        <div class="card-body">
                            <div class="text-center">
                                <span class="team-avatar"></span>
                            </div>
                            <h3 class="team-title">Jude Iwuji</h3>
                            <p class="team-role">Fontend Developer</p>
                            <button type="button" class="btn btn-full">
                                Hire Me
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto">
                    <div class="card team-card">
                        <div class="card-body">
                            <div class="text-center">
                                <span class="team-avatar"></span>
                            </div>
                            <h3 class="team-title">Ifiok Ekot</h3>
                            <p class="team-role">Backend Developer</p>
                            <button type="button" class="btn btn-full">
                                Hire Me
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Teams -->
</div>

<app-main-footer></app-main-footer>